node_modules
*.pyc
Game/valid_moves.txt
Game/update_board.txt
Game/initial_state.txt
Game/__pycache__/*
Game/dlgo/__pycache__/*
Game/dlgo/agent/__pycache__/*
Model/data/*
Model/__pycache__/*
Model/dataset/*


